.star-rating {
    font-size: 36px; /* Increase the font size for larger stars */
    color: #ddd; /* Default color of unselected stars */
    margin-bottom: 10px; /* Add space between the stars */
  }
  
  .star-rating .fa-star {
    cursor: pointer;
    margin-right: 5px; /* Add space between the stars */
  }
  
  .star-rating .fa-star.selected {
    color: gold; /* Color of selected stars */
  }
  