<form (ngSubmit)="createReview()">
    <div class="form-group">
      <label for="reviewInput1">Title:</label>
      <input type="text" class="form-control" id="reviewInput1" [(ngModel)]="reviewName" name="reviewName" placeholder="Enter review title">
    </div>
    <div class="form-group">
      <label for="reviewInput2">Entity Id:</label>
      <input type="text" class="form-control" id="reviewInput2" [(ngModel)]="entityId" [ngModelOptions]="{standalone: true}" placeholder="Enter Id">
    </div>
    <div class="form-group">
      <label for="reviewInput3">Rating:</label>
      <input type="number" class="form-control" id="reviewInput3" [(ngModel)]="reviewRating" name="reviewRating" placeholder="Enter review rating">
    </div>
    <div class="form-group">
      <label for="reviewInput4">Music Review Options:</label>
      <select class="form-control" id="reviewInput4" [(ngModel)]="entityType" [ngModelOptions]="{standalone: true}">
        <option value="Songs">Songs</option>
        <option value="Playlist">Playlist</option>
        <option value="Albums">Albums</option>
      </select>
    </div>
    <div class="form-group">
      <label for="reviewInput5">Comment</label>
      <textarea class="form-control" id="reviewInput5" [(ngModel)]="reviewComment" name="reviewComment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form (ngSubmit)="updateReview()">
      <div class="form-group2">
        <label for="updateInput1">Title:</label>
        <input type="text" class="form-control" id="updateInput1" [(ngModel)]="reviewName" name="reviewName" placeholder="Enter review title">
      </div>
      <div class="form-group2">
        <label for="updateInput2">Review Id:</label>
        <input type="text" class="form-control" id="updateInput2" [(ngModel)]="reviewId" [ngModelOptions]="{standalone: true}" placeholder="Enter review id">
      </div>
      <div class="form-group2">
        <label for="updateInput3">Entity Id:</label>
        <input type="text" class="form-control" id="updateInput3" [(ngModel)]="entityId" [ngModelOptions]="{standalone: true}" placeholder="enter id">
      </div>
      <div class="form-group2">
        <label for="updateInput4">Rating:</label>
        <input type="number" class="form-control" id="updateInput4" [(ngModel)]="reviewRating" name="reviewRating" placeholder="Enter review rating">
      </div>
      <div class="form-group2">
        <label for="updateInput5">Music Review Options:</label>
        <select class="form-control" id="updateInput5" [(ngModel)]="entityType" [ngModelOptions]="{standalone: true}">
          <option value="Songs">Songs</option>
          <option value="Playlist">Playlist</option>
          <option value="Albums">Albums</option>
        </select>
      </div>
      <div class="form-group2">
        <label for="updateInput6">Comment</label>
        <textarea class="form-control" id="updateInput6" [(ngModel)]="reviewComment" name="reviewComment" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
</form>
<form (ngSubmit)="deleteReview()">
      <div class="form-group3">
        <label for="reviewInput1">Review Id:</label>
        <input type="text" class="form-control" id="reviewInput1" [(ngModel)]="reviewId" [ngModelOptions]="{standalone: true}" placeholder="Enter review id">
      </div>
      <div class="form-group3">
        <label for="reviewInput2">Entity Id:</label>
        <input type="text" class="form-control" id="reviewInput2" [(ngModel)]="entityId" [ngModelOptions]="{standalone: true}" placeholder="Enter Id">
      </div>
       <div class="form-group3">
        <label for="reviewInput3">Music Review Options:</label>
        <select class="form-control" id="reviewInput3" [(ngModel)]="entityType" [ngModelOptions]="{standalone: true}">
          <option value="Songs">Songs</option>
          <option value="Playlist">Playlist</option>
          <option value="Albums">Albums</option>
        </select>
       </div>
       <button type="submit" class="btn btn-primary">Delete</button>
</form>

<!-- Add this section to display reviews -->
<section *ngIf="reviews.length > 0">
    <div *ngFor="let review of reviews">
      <div class="d-flex flex-start mb-4">
        <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" height="65" />
        <div class="card w-100">
          <div class="card-body p-4">
            <div class="">
              <h5>{{ review.name }}</h5>
              <p class="small">{{ review.timestamp }}</p>
              <p>{{ review.comment }}</p>
  
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>{{ review.likes }}</a>
                  <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>{{ review.dislikes }}</a>
                </div>
                <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  