<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a [routerLink]="['/playlist']" [queryParams]="{ id: userId, accessToken: accessToken }"role="button" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Playlist</strong>
      </a>
      <a [routerLink]="['/reviews']" [queryParams]="{ id: userId, accessToken: accessToken }"role="button" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Reviews</strong>
      </a>
      <a [routerLink]="['/artists']" [queryParams]="{ id: userId, accessToken: accessToken }"role="button" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Artists</strong>
      </a>
      <a [routerLink]="['/song']" [queryParams]="{ id: userId, accessToken: accessToken }"role="button" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Song</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class = "Search Songs" style="padding: 40px;">
    <h1>Search Songs</h1>
    <div>
      <label for="searchSong">Search Song:</label>
      <input type="text" id="searchSong" [(ngModel)]="searchQuery" (input)="searchSongs()" placeholder="Enter song name">
    </div>
    
    <!-- Dropdown for search results -->
    <div *ngIf="searchResults.length > 0">
      <label for="searchResultsDropdown">Search Results:</label>
      <select id="searchResultsDropdown" [(ngModel)]="selectedSongId" (change)="onSongSelected()">
        <option *ngFor="let result of searchResults" [value]="result.id">{{ result.name }}</option>
      </select>
    </div>
    <div *ngIf="selectedSongId">
        <img [src]="getSelectedSongImage()" alt="Selected Song Image" style="max-width: 200px; max-height: 200px;">
      </div>
    

  
  <br><br>
  
  <div class = "SongPlaylist" style = "padding: 40px;">
    <h1>Add Or Delete Song From Playlist</h1>
    <div>
      <label for="playlistDropdown">Select Playlist:</label>
      <select id="playlistDropdown" [(ngModel)]="selectedPlaylistId" (change)="onPlaylistSelected()">
        <option *ngFor="let playlist of playlists" [value]="playlist.spotifyId">{{ playlist.playlistName }}</option>
      </select>
    </div>
    <div *ngIf="playlistSongs.length > 0">
      <label for="playlistSongsDropdown">Select Song:</label>
      <select id="playlistSongsDropdown" [(ngModel)]="selectedSongId" (change)="onSongSelected()">
        <option *ngFor="let song of playlistSongs" [value]="song.id">{{ song.name }}</option>
        
      </select>
    </div>
    <button (click)="addSongsToPlaylist()">Add Song To Playlist</button>
    <button (click)="deleteSongsFromPlaylist()">Delete Song To Playlist</button>  
    <button (click)="navigateToReviews()">Create A Review</button>
  </div>

  