<div class = "PlaylistCreation" style = "padding: 40px;">
  <h1>Create Playlist: </h1>
  <div>
    <label for="nameOfPlaylist">Playlist Name:</label>
    <input type="text" id="nameOfPlaylist" [(ngModel)]="nameOfPlaylist" placeholder="Enter playlist name">
   
  </div>
  
  <button (click)="createPlaylist()">Create Playlist</button>  
</div>
<br><br>

<div class="UpdatePlaylist" style="padding: 40px;">
  <h1>Update Playlist Or Delete</h1>
  <div>
    <label for="updatedName">Updated Playlist Name:</label>
    <input type="text" id="updatedName" [(ngModel)]="updatedPlaylistName" placeholder="Enter updated playlist name">
  </div>
  
  <div>
    <label for="updatedDescription">Updated Playlist Description:</label>
    <input type="text" id="updatedDescription" [(ngModel)]="updatedPlaylistDescription" placeholder="Enter updated playlist description">
  </div>

  <div>
    <label for="playlistDropdownDelete">Select Playlist to Update/Delete:</label>
    <select id="playlistDropdownDelete" [(ngModel)]="selectedDeletePlaylistId" (change)="onDeletePlaylistSelected()">
      <option *ngFor="let playlist of playlists" [value]="playlist.spotifyId">{{ playlist.playlistName }}</option>
    </select>
  </div>
  
  <button (click)="updatePlaylist()">Update Playlist</button> 
  <button (click)="deletePlaylist()">Delete Playlist</button>
</div>

<br> <br>

<div class="playlist-header" style="text-align: center;">
  <h2>Your Playlists</h2>
</div>

<div class="playlist-list music-table" style="padding: 40px; overflow-y: scroll; max-height: 300px;">
 
  <table id="playlistTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Playlist Cover</th> <!-- Update the table header -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let playlist of playlists" (click)="onSelectPlaylist(playlist.spotifyId)">
        <td>{{ playlist.playlistName }}</td>
        <td>
          <img *ngIf="playlist.playlistImage" [src]="playlist.playlistImage" alt="Playlist Image" style="max-width: 50px; max-height: 50px;">
        </td>
      </tr>
    </tbody>
    
  </table>

</div>

<br><br>



<div class ="Image Upload" style = "padding: 40px;">
  <div class="container row">
    <h1>Upload Image</h1>
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
  </div>
  <hr />
  <div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
  </div>
  
  <div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">
  
    </div>
  </div>
  
  <div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
  </div>
  





  
</div>

